[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Official sunxi OpenEmbedded layer for Allwinner-based boards.
[access "refs/*"]
	owner = group user/Ganesh (ganesh737)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ganesh (ganesh737)
	label-Verified = -1..+1 group user/Ganesh (ganesh737)
	push = group user/Ganesh (ganesh737)
	read = group user/Ganesh (ganesh737)
	rebase = group user/Ganesh (ganesh737)
	removeReviewer = group user/Ganesh (ganesh737)
	submit = group user/Ganesh (ganesh737)
[access "refs/heads/*"]
	create = group user/Ganesh (ganesh737)
	push = +force group user/Ganesh (ganesh737)
	pushMerge = group user/Ganesh (ganesh737)
	read = group user/Ganesh (ganesh737)
[access "refs/tags/*"]
	push = group user/Ganesh (ganesh737)
	push = +force group user/Ganesh (ganesh737)
